<% layout('/layout/boilerplate') %>
<style>
 
  @media (max-width:500px) {
     .cartitem img{
         transform: scale(0.5);
     }
     .cartitem{
      transform: scale(0.5);
     }
     .panel{
      display: flex;
      flex-direction: column !important;
     }
  }
</style>
<div class="main d-flex">
  <div class="container-fluid  h-100 d-flex-column col-md-6 px-md-5 py-md-5 gap-4">
    <div class="contain w-70  cartContain container-fluid d-flex-column col-md-6" >
      <% cart.forEach(function(cartItem) { %>
        <div class="col-md-4 w-100 cartitem">
          <div class="w-100 d-flex justify-content-center align-items-center p-2 rounded-top" style="width:10rem; max-height: 20rem; background-color: <%= cartItem.product.bgcolor %>;">
            <img class="img-fluid" style="max-height: 12rem;" src="data:image/jpeg;base64,<%= cartItem.product.image.toString('base64') %>" alt="">
          </div>
          <div class="d-flex panel justify-content-between p-4" style="background-color: <%= cartItem.product.panelColor %>;">
            <p style="color: <%= cartItem.product.textColor %>;"><%= cartItem.product.name %></p>
            <div class="d-flex align-items-center gap-2">
              <a href="/cart/increase/<%= currUser._id %>/<%= cartItem.product._id %>" class="btn btn-sm btn-light btn-circle"><i class="ri-add-line"></i></a>
              <div class="px-2 py-1 rounded bg-light text-dark"><%= cartItem.quantity %></div>
              <a href="/cart/decrease/<%= currUser._id %>/<%= cartItem.product._id %>" class="btn btn-sm btn-light btn-circle"><i class="ri-subtract-line"></i></a>
            </div>
          </div>
          <div class="d-flex justify-content-between p-3">
            <h4 class="h6">Net Total</h4>
            <h2 class="h6">₹ <%= cartItem.product.price * cartItem.quantity + 20 - cartItem.product.discount %></h2>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <div class="col-md-6 mt-2">
    <h3 class="h5">Price Breakdown</h3>
    <div class="px-4 mt-3">
      <div class="d-flex mt-2">
        <h4 class="col-md-4 h6">Total MRP</h4>
        <h4 class="h6">₹ <%= cart.reduce((total, item) => total + item.product.price * item.quantity, 0) %></h4>
      </div>
      <div class="d-flex mt-2">
        <h4 class="col-md-4 h6">Discount on MRP</h4>
        <h4 class="h6">₹ <%= cart.reduce((total, item) => total + item.product.discount * item.quantity, 0) %></h4>
      </div>
      <div class="d-flex mt-2">
        <h4 class="col-md-4 h6">Platform Fee</h4>
        <h4 class="h6">₹ 20</h4>
      </div>
      <div class="d-flex mt-2">
        <h4 class="col-md-4 h6">Shipping Fee</h4>
        <h4 class="h6">FREE</h4>
      </div>
    </div>
    <div class="w-100 bg-dark mt-4" style="height: 1px;"></div>
    <div class="d-flex mt-4">
      <h3 class="col-md-4 h5">Total Amount</h3>
      <h3 class="font-weight-bold h5 text-success">₹ <%= cart.reduce((total, item) => total + (item.product.price - item.product.discount) * item.quantity, 20) %></h3>
    </div>

    <form action=""></form>
  </div>
</div>
